modules = ["rust-stable"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["xorg.libX11", "xorg.libXcursor", "xorg.libXrandr", "xorg.libXi", "xorg.libxcb", "libGL", "libGLU", "mesa", "libxkbcommon", "xorg.libXext", "xorg.libXfixes", "wayland"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cargo run"

[workflows.workflow.metadata]
outputType = "vnc"
